# Connector Infomation
MY_CONNECTOR_NAME=frag-connector-default
MY_CONNECTOR_FQDN=http://localhost:8000
MY_CONNECTOR_PORT=8080
MY_CONNECTOR_API_KEY=ApiKey

# Authentication / Authorization
OAUTH_SERVER_URL=http://localhost:8080
OAUTH_REALM_NAME=
OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRET=

# Vector DB
VECTOR_DB_SERVICE=
VECTOR_DB_URL=
VECTOR_DB_API_KEY=
VECTOR_DB_INDEX_NAME=
VECTOR_DB_METADATA_TEXT_KEY=

# LLM
LLM_SERVICE=
LLM_API_KEY=
LLM_API_BASE_URL=

# JSON File Paths
ASSETS_CONFIG_PATH=/app/core/configs/assets.json
CONNECTORS_CONFIG_PATH=/app/core/configs/connectors.json
